<style>
header{ width: 100%;
height: 40px;
float: left;
box-sizing: border-box;
background-color: aqua;
margin: 0%;
padding-left: 10px;
padding-right: 10px;
}
#title{
    float: left;
    padding: 0;
    margin: 0;
    
}
#title_l{
    float: right;
    padding: 0;
}
#search_dive{
    width: 100%;
    height: 70px;
    float:left;
    box-sizing: border-box;
    background-color:yellow;
    padding-left: 8px;
    padding-top: 8px;
    margin-top: 8px;
}
#search_s{
    margin-top: 15px;
    font-size: 15px;
    width: 200px;
    height: 30px;
    float: left;
border: none;
}
#submit_l{ margin-top: 15px;
    font-size: 18px;
    font-weight: bolder;
    width: 100px;
    height: 30px;
    float: left;
    margin-left: 5px;
    border: none;}
 #table_menu{
    float: right;
    width: 600px;
    height: 40px;
box-sizing: border-box;
padding: 5px;
 }
#row{background-color: aliceblue;
    width: 20%;
    text-align: center;
    font-size: 19px;
    
    }
#image_table{
    width: 1010px;
    height: 730px;
    float: left;
    background-color: aqua;
    margin-top: 8px;
    box-sizing: border-box;
    padding: 10px;
    border-width: 5px;
    border-style: solid;
    border-color: black;
    
}
#sweet_image{
width: 450px;
height: 300px;
margin: 18px;
border-width: 5px;
border-color: rgb(11, 7, 1);
border-style: solid;
box-sizing: border-box;
    
}
#address{
    float: left;
    font-weight: bolder;
    margin-top: 10px;
    box-sizing: border-box;
}
#mobile_number{
    float: right;
    font-weight: bolder;
    margin-top: 10px;
}
#papular{
    text-align: center;
    padding: 0%;
    margin: 0%;
}
#menu_table{
    width: 445px;
    height: 730px;
    border-width: 5px;
    border-color: black;
    border-style: solid;
    box-sizing: border-box;
    float: right;
    margin-top: 8px;
}
#sweet_name{
    height: 40px;
    background-color: aqua;
    text-align: center;
    font-weight: bolder;
    font-size: 25px;
}
#sweet_list{
    background-color:yellow;
    height: 410px;
}
#sweet_name_list{
    padding: 22px;
    
}
#sweet_rate{
    padding: 22px;
    list-style: none;
    
}
#order{
width: 1000px;
height: 500px;
float:left;
border-width: 1px;
border-style: solid;
box-sizing: border-box;
border-color: black;
margin-top: 8px;

}
#order_online{
    font-size: 20px;
    font-weight: bolder;

}
#order_online_form{
    font-size: 20px;
    
}
#order_input{
    width: 100%;
    height: 35px;
    box-sizing: border-box;
    border-color: #ccc;
    border-width: 1px;
    border-style: solid;
    font-size: 15px;
}
#btn{
    font-size: 20px;
    text-align: right;
    float: right;
    margin-top: 8px;
    font-weight: bolder;
    
}#abt_us{
    width: 445px;
    height: 490px;
    float: right;
    box-sizing: border-box;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    margin-top: 18px;
    
    padding: 8px;
    margin-bottom: 0%;

}


#h1_abt{
    margin: 0%;
    padding: 0%;
    text-align: center;
    
   
}
#abt_p{
    text-align: justify;
}
     
#delivery_time_km{
    padding: 10px;
}
#heading2{
    padding: 0;
    margin: 0;
}
#note_charge{
    font-weight: bolder;
    font-size: 12px;
    text-align: center;
}
#sweet_list_box{
    float: left;
    box-sizing: border-box;
    width: 100%;
    
}
#sweet_list_img{
    text-align: center;
}
#sweet_m_image{
    width: 220px;
    height: 250px;
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    float: left;
    margin-right: 89px;
    margin-top: 8px;
}
#sweet_m_image_end{ width: 220px;
    height: 250px;
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    float: right;
    padding: 0%;
    margin: 0%;
    


}
#sweets_image_l{
    width: 180px;
    height: 150px;
    margin: 18px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    box-sizing: border-box;
    float: left;

}



#order_btn_l{
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    border-color:#ccc;
    box-sizing: border-box;
    background-color:white;
    width: 100px;
    font-size: 16px;
}
#order_new{
    width: 100%;
height: 500px;
float:left;
border-width: 1px;
border-style: solid;
box-sizing: border-box;
border-color: black;
margin-top: 40px;

}
#about_us{
    width: 400px;
    height: 200px;
    background-color: black;
    box-sizing: border-box;
    border-style: solid;
    float:left;
    margin-top: 10px;
    padding-left: 10px;



}
#end_abt{
    color: #ccc;
    text-align: center;
}
#end_paragraph{
    color: #ccc;
    margin-top: 10px;
    margin-bottom: 15px;
    
}
#follow_us{
    width: 445px;
    height: 200px;
    background-color: black;
    box-sizing: border-box;
    border-style: solid;
    float:right;
    margin-top: 10px;
    padding-left: 10px;


}
#menu_table_1{
    width: 445px;
    height: 730px;
    border-width: 5px;
    border-color: black;
    border-style: solid;
    box-sizing: border-box;
    float: left;
    margin-top: 8px;
    margin-right: 55px;
}
#menu_table_2{
    width: 445px;
    height: 730px;
    border-width: 5px;
    border-color: black;
    border-style: solid;
    box-sizing: border-box;
    float: right;
    margin-top: 8px;
    
}
#order_new_1{
    width: 100%;
    height: 600px;
    float:left;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    border-color: black;
    margin-top: 40px;
    
}
#book_me_online{
    text-align: center;
    margin-top: 150px;
    float: left;
    margin-left: 40px;
}
#book_me_online_1{
    text-align: center;
    
    
    
}



    </style>
